<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.project001">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".TravelFavActivity"
            android:theme="@style/AppThemeNoActionBar"/>
        <activity android:name=".HousingFavActivity"
            android:theme="@style/AppThemeNoActionBar"/>
        <activity android:name=".TravelDetailActivity"
            android:theme="@style/AppThemeNoActionBar"/>
        <activity android:name=".TravelAddActivity"
            android:theme="@style/AppThemeNoActionBar"/>
        <activity android:name=".TravelListActivity"
            android:label="@string/travel"/>
        <activity android:name=".HousingDetailActivity"
            android:theme="@style/AppThemeNoActionBar"/>
        <activity android:name=".HousingAddActivity"
            android:theme="@style/AppThemeNoActionBar"/>
        <activity android:name=".HousingListActivity"
            android:label="@string/housing"/>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/sign_up"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>